/* This is a CSS comment. Comments are ignored by the browser */

/* Use CSS selectors and rules to style your portfolio page */
body {
  font-family: sans-serif;
}

footer {
  background-color: #f1f3f5;
  list-style: none;
  padding: 20px;
  text-align: center;
}
