/* This is a CSS comment. Comments are ignored by the browser */

/* Use CSS selectors and rules to style your portfolio page */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: linear-gradient(to bottom, #f8f9fa, #bcc2c9);
}

h1 {
  color: #2c3e50;
  text-align: center;
  margin-bottom: 15px;
}

footer {
  background-color: #c9d0d7;
  list-style: none;
  padding: 12px;
  text-align: center;
  margin-top: auto;
  border-top: 1px solid #adb5bd;
}

footer a:hover {
  text-decoration: underline;
}

li {
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
}


.icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

.nobullets {
  list-style-type: none;
  padding-left: 15px;
}